
<ion-view view-title="Statistics">
    <ion-content class="has-header" center>
        <div class="im-wrapper">
          <div class="row">
            <div class="col-xs-12">
              <select id="ChartTypesList">
	
                <option value="1">Bar</option>
			
                <option value="2">Pie</option>					                
				
                <option value="3">Area</option>				            
				
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <div id="BarChart"></div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <div id="PieChart"></div>
            </div>
          </div>                   
          
          <div class="row">
            <!--<div class="col-xs-12">-->
              <div id="AreaChart"></div>
            <!--</div>-->
          </div>
        </div>
    </ion-content>
</ion-view>
